.body{
    font-family: 'Open Sans',sans-serif;
    font-size: .875em;
}

.talk-slot-comment-author-name{
    font-size: .8em;
    font-weight: 700;
}

.talk-comment-timestamp{
    font-size: 10px;
    font-weight: 700;
}
.talk-plugin-tag-label {
    background-color: #3d699e;
}

:focus{
    outline: 1px dashed black;
}

/*.talk-plugin-respect-label{
  color: #a5ca5a;
}*/

.talk-stream-comment-content .talk-slot-comment-content{
    padding-top: 15px;
    padding-bottom: 20px;
}
/*
.topic-article-content {
    max-width: 848px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}*/