#talk-embed-stream-container{
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
    #talk-embed-stream-container{
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
  }

.coral_talk_stream_iframe{
    width:inherit !important;
}
div#coral_talk_stream{
    font-family: 'Open Sans',sans-serif;
    font-size: .9em;
}

.talk-slot-comment-author-name{
    font-size: .9em;
    font-weight: 700;
}

.talk-comment-timestamp{
    font-size: 10px;
    font-weight: 700;
}
.talk-plugin-tag-label {
    background-color: #3d699e;
}

:focus{
    outline: 1px dashed black;
}

/*.talk-plugin-respect-label{
  color: #a5ca5a;
}*/

.talk-stream-comment-content{
    padding-top: 15px;
    padding-bottom: 20px;
}

.talk-stream-comment-wrapper{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Comment__rootLevel0___1rJSw{
    border:0;
}

.talk-tab-bar{
    margin: 0 0 15px 0;
}

.talk-stream-comment-container, .Comment__rootLevel0___1rJSw:first-child {
    padding:10px;
}

.talk-stream-comment-actions-container{
    padding-top:20px;
}
/*
.talk-embed-stream {
    max-width: 848px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}*/