.body{
    font-family: 'Open Sans',sans-serif;
    font-size: .875em;
}

.talk-slot-comment-author-name{
    font-size: .9em;
    font-weight: 700;
}

.talk-comment-timestamp{
    font-size: 10px;
    font-weight: 700;
}
.talk-plugin-tag-label {
    background-color: #3d699e;
}

:focus{
    outline: 1px dashed black;
}

/*.talk-plugin-respect-label{
  color: #a5ca5a;
}*/

.talk-stream-comment-content .talk-slot-comment-content{
    padding-top: 15px;
    padding-bottom: 20px;
}

.talk-stream-comment-wrapper{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Comment__rootLevel0___1rJSw{
    border:0;
}
/*
.talk-embed-stream {
    max-width: 848px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}*/